<!DOCTYPE html>
<html>
  <head>
    <title>Real-time Emotion Recognition for Customers</title>
    <style>
      body {
        text-align: center;
        font-family: Arial, sans-serif;
      }
      h1 {
        background-color: #333;
        color: #fff;
        padding: 10px;
      }
      img {
        display: block;
        margin: 0 auto;
        border: 2px solid blue;
      }
    </style>
  </head>
  <body>
    <h1>Real-time Emotion Recognition</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480" />
  </body>
</html>
